# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.env.*
dist/
build/
*.egg-info/

# Data/Artifacts
mlruns/
mlflow.db
data/
logs/
*.parquet
*.csv
*.sqlite

# OS
.DS_Store

# Streamlit
.streamlit/

# Airflow (later)
airflow/*
!airflow/README.md

# Airflow logs and database
mlops/airflow_logs/
mlops/airflow_db/

